<div>
    <div id="notification-container" class="notification-container"></div>
    <div class="container">
        <div class="box mt-6">
            <h2 class="title is-2">Генератор паролей</h2>
            <div class="field">
                <label class="label" for="length">Длина пароля:</label>
                <div class="control">
                    <input class="input" type="number" unicorn:model="length" min="6" max="32" />
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" unicorn:model="include_digits" />
                    Включить цифры
                </label>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" unicorn:model="include_special_chars" />
                    Включить спецсимволы
                </label>
            </div>
            <div class="field">
                <strong>Ваш пароль:</strong>
                <span id="password" class="is-clickable" onclick="copyToClipboard('{{ password }}')">{{ password }}</span>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link is-outlined" unicorn:click="generate_password">
                        <span class="icon is-small">
                            <i class="fa-solid fa-unlock-keyhole"></i>
                        </span>
                        <span>Сгенерировать пароль</span>
                    </button>
                </div>
                <div class="control">
                    <button class="button is-primary is-outlined" unicorn:click="copy_to_clipboard ('{{ password }}')">
                        <span class="icon is-small">
                            <i class="fa-solid fa-copy"></i>
                        </span>
                        <span>Скопировать в буфер обмена</span>
                    </button>
                </div>
            </div>
            <div class="field">
                <strong>Варианты паролей:</strong>
                <ul>
                    {% for option in password_options %}
                    <li>
                        <span class="is-clickable" onclick="copyToClipboard('{{ option }}')">{{ option }}</span>
                        <button class="button is-small is-primary is-outlined" unicorn:click="copy_to_clipboard('{{ option }}')">
                            <span class="icon">
                                <i class="fas fa-copy"></i>
                            </span>
                            <span>Скопировать</span>
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>