<div class="box">
    <h2>Генератор паролей</h2>
    <div class="field">
        <label for="length">Длина пароля:</label>
        <div class="control">
            <input type="number" unicorn:model="length" min="6" max="32" />
        </div>
    </div>
    <div class="field">
        <label for="include_digits">Включить цифры:</label>
        <input type="checkbox" unicorn:model="include_digits" />
    </div>
    <div class="field">
        <label for="include_special_chars">Включить спецсимволы:</label>
        <input type="checkbox" unicorn:model="include_special_chars" />
    </div>
    <button class="button is-link is-outlined" unicorn:click="generate_password">
        <span class="icon is-small">
            <i class="fa-solid fa-unlock-keyhole"></i>
        </span><span>Сгенерировать пароль</span></button>
    <button class="button is-primary is-outlined" unicorn:click="copy_to_clipboard ('{{ password }}')">
        <span class="icon is-small">
            <i class="fa-solid fa-copy"></i>
        </span>
    <span>Скопировать в буфер обмена</span></button>
    <div>
        <strong>Ваш пароль:</strong> {{ password }}
    </div>
    <div>
        <strong>Варианты паролей:</strong>
        <ul>
            {% for option in password_options %}
            <li>
                {{ option }}
                <button unicorn:click="copy_to_clipboard('{{ option }}')">
                    <span class="icon">
                        <i class="fas fa-copy"></i>
                    </span>
                    <span>Скопировать в буфер обмена</span>
                </button>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>